.cart_payment {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    margin-bottom: auto;                      

}

.cart_payment_details {
    max-width: auto;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.cart_img {
    max-width: 190px;
    min-width: 100px;

}

.cart_button {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    justify-content: center;
    
}

.cart_button:hover {
        color: #eda425;
}

.cart_payment_details_price {
    color: crimson;
    align-self: center;
    right: 0;
    margin-bottom: auto;
    margin-left: 100px;
}
.cart_payment_details_title  {
    letter-spacing: 1.5px;
    
}

.button {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;


}