 .presentation_du_groupe_h1 {
    display: flex;
    color: #eda425;
    justify-content: center;
    margin: auto;
    margin-left: 5%;
    margin-top: 30px;
}

 .presentation_du_groupe_h2{
    color:#999;
    justify-content: center;
    margin-top: 3%;
   
}
.page_about {
    display: block;
    justify-content: center;
    margin-top: 30px;

}

.notre_ambition {
    display: block;
    justify-content: center; 
    margin-top: 30px;

}

.notre_ambition_h1 {
    display: flex;
    color: #eda425;
    justify-content: center;
    margin: auto;
    margin-left: 5%;
    margin-top: 30px;
 
}

.notre_ambition_h3{
    color:#999;
}

.notre_ambition_text {
    margin-top: 30px;
}

.about_img {
    margin-top: auto;
}